// Styling for Blog preview section
// 2x2 centre section of site previewing blog posts

.blog-preview-section {
    height: 100vh;
    @include flexBox();

    &__wrapper {
        @include flexBox(row, space-between, center);
        flex-wrap: wrap;
    }

    &__img {
        max-width: 550px;
        min-width: 300px;
        flex-basis:50%;

        // Using layered box shadows to create a coloured background for blog preview images
        &--top {
            box-shadow: 20px 20px $main-darker, 
                        -100px 20px $main-darker;
        }

        &--bottom {
            box-shadow: 20px 20px $main-color,
                        100px 20px $main-color;
        }
    }

    &__quarter {
        flex-basis: 40%;
        min-width: 400px;
    }
}