// Styles for the blog posts (form in separate partial)


.section{
    &__blog {
        flex-grow: 2;
    }

    &__post {
    background: white;

    &-wrapper {
        @include flexBox(column, center, flex-start);
        margin: 30px;
    }

    &--featured {
        height:100%;
    }
}

}
