// Styles for the blog posts (form in separate partial)


.section{

    &__h4 {
        font-size: 3rem;
    }

    &__blog {
        @include flexBox(column, flex-start,flex-start);
        flex-grow: 2;
    }

    &__post {
        background: white;
        margin-bottom: 30px;

        &-wrapper {
            @include flexBox(column, center, flex-start);
            margin: 30px;
        }
    }
}