//  Variables

$dark-color: #171717;
$accent-color: #f38d8d;
$main-color: #b9dde7;
$main-darker: #68b0c1;
$main-dark: #227284;
$light-color: #f6f6f6;
$title-font: 'Oswald', sans-serif;
$body-font: 'Cabin', sans-serif;

// Global styles (found throughout the markup)

html {
    font-size: 62.5%;
}

body {
    font-family: $body-font;
    font-size: 2rem;
    line-height: 3.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

// Size and center all section wrappers
.section__wrapper {
    width: 90vw;
    @include flexBox();
}

.header, .nav-contain {
    background: $main-color;
}

.nav-contain,
.header,
.header__wrapper__title,
.mini-header__title,
.button__link,
.section__h2,
.section__h3,
.section__h4 {
    text-transform: uppercase;
    font-family: $title-font;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

.button {
    background: $accent-color;
    border: none;
    padding: 10px 30px;

    &:hover {
        background: lighten($accent-color,5);
    }
}

.footer {
    background: $dark-color;
    text-align: center;
    color: $light-color;
}