//  Variables

$dark-color: #171717;
$accent-color: #f38d8d;
$main-color: #b9dde7;
$main-darker: #68b0c1;
$main-dark: #227284;
$light-color: #f6f6f6;
$title-font: 'Oswald', sans-serif;
$body-font: 'Cabin', sans-serif;

body {
    font-family: $body-font;
    font-size: 20px;
    line-height: 32px;
}




