//  Variables

$dark-color: #171717;
$accent-color: #f38d8d;
$main-color: #b9dde7;
$main-darker: #68b0c1;
$main-dark: #227284;
$light-color: #f6f6f6;
$title-font: 'Oswald', sans-serif;
$body-font: 'Cabin', sans-serif;

// Global styles (found throughout the markup)

html {
    font-size: 62.5%;
}

body {
    font-family: $body-font;
    font-size: 2rem;
    line-height: 3.2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

// Size and center all section wrappers
.section__wrapper {
    width: 90vw;
    @include flexBox();
    
    &--secondary-page {
        width: 80vw;
        padding: 100px 0;
        @include flexBox(row, space-between, flex-start);
    }
}

.aside {
    background: white;
}

.header,
.nav-contain {
    background: $main-color;
}

// every section or page that has the same background colour
.main--blog,
.main--contact,
.who-section,
.journey-section,
.site-map-section {
    background: $light-color;
    @include flexBox();
}

// Similar basic font styling for many headings
.nav-contain,
.header,
.header__wrapper__title,
.mini-header__title,
.aside__email,
.button__link,
.section__h2,
.section__h3,
.section__h4 {
    text-transform: uppercase;
    font-family: $title-font;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

.button {
    background: $accent-color;
    border: none;
    padding: 10px 30px;
    transition: background 0.3s;

    &:hover {
        background: lighten($accent-color,5);
    }

    &--form {
        margin-top: 30px;
    }
}

.footer {
    background: $dark-color;
    text-align: center;
    color: $light-color;
}