    // Harper Header styles

.header {
    height: calc(100vh - 75px);
    @include flexBox();

    &__wrapper {
        width: 80vw;
        position: relative;

        &__decoration {
            width: 17rem;
            position: absolute;
            top:32%;
            right:35px;
            z-index: 5;
        }
        
        &__title {
            position: absolute;
            top:40%;
            right:75px;
            z-index: 5;
            font-family: $title-font;
            font-size: 15rem;
            line-height: 15rem;
            color: $dark-color;
            text-transform: uppercase;
        }  
    }

    &__image {
        width:450px;
        min-width: 450px;
        box-shadow: 20px 20px white;
        position: relative;
        top:8.7vh;
        z-index: 1;
    }
}

