    // Harper Header styles

.header {
    height: calc(100vh - 75px);
    @include flexBox();

    &__title-box {
        position: relative;
        // @include flexBox(column, space-between, flex-end);
        width: 45.3rem;
        line-height: 12rem;
        height: 28.7vh;
        margin: 0 0 0 6.8vw;
        

        &__title {
            font-family: $title-font;
            font-size: 12rem;
            color: $dark-color;
            text-transform: uppercase;
        }  

        &__decoration {
            width: 15rem;
            position: absolute;
            top:-5rem;
            right:0;
        }
    }

    &__image {
        width: 31.25vw;
        max-width: 500px;
        box-shadow: 20px 20px white;
        position: relative;
        top:8.7vh;
    }
}

