// Harper's Journey section

.journey-section {
    @include flexBox();
    flex-wrap: wrap;

    &__img {
        box-shadow: 20px 20px $main-dark;
        max-width: 280px;
    }

    &__wrapper {
        width: 90vw;
        margin: 110px auto 100px auto;
        @include flexBox(row, space-around, center);
        flex-wrap: no-wrap;

        &--inner {
            @include flexBox (column, space-between, flex-start);
            flex-basis: 60%;
            align-content: flex-start;
        }

    }
}