// Media queries for Harper

@media only screen and (max-width: 1230px){
    .header {
        &__wrapper__title {
            color: white;
            top:70%;
            right:75px;
        }

        &__wrapper__decoration {
            top:62%;
            right:35px;
        }

        &__image {
            top:3vh;
            box-shadow: 20px 20px $main-dark;
        }
    }

    .blog-preview-section__wrapper {
        width: 95vw;
    }

    .who-section {
        &__wrapper {
            @include flexBox();

            &--inner {
                width:90vw;
                 @include flexBox(column, space-between, center);
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .blog-preview-section {

        &--half {
            flex-basis: 55%;
            margin: 0;
            @include flexBox(row, center, center);

            &--top {
                background: $main-color;
            }
        }

        &__img {
            flex-basis: 40%;

            &--top {
                margin-right: 30px;
                box-shadow: -20px 20px $main-darker, 
                            -150px 20px $main-darker;
            }

            &--bottom {
                margin-left: 30px;
                box-shadow: 20px 20px $main-dark,
                            150px 20px $main-dark;
            }
        }
    }

    .form {
        &__input{
            width:100%;
            margin: 0 0 20px 0;
            border-bottom: 5px solid $accent-color;
        }

        &__group-inputs {
            @include flexBox(column, space-between, stretch);
            flex-wrap: wrap; 
        }
    }

    .button--form {
        margin: 0;
    }

    .mini-header {
        @include flexBox(row, center, flex-end);

        &__title {
            position: static;
        }
    }
}

@media only screen and (max-width: 975px) {
    .journey-section__img {
        box-shadow: -20px 20px $main-dark;
    }

    .gallery-section {

        &__wrapper {
            width:100vw;
        }

        &__img {
            margin: 0;
            width:50%;
            max-width:50%;
        }

        &__img--gone-first {
            display: none;
        }
    }
}

@media only screen and (max-width: 760px) {

    .header {
        background-image: url("/assets/home-image-1.jpg");
        @include bgCenter();

        &__wrapper__title {
            font-size: 7rem;
            text-align: center;
            position: static;
            // position: relative;
            // bottom:10%;
        }

        &__wrapper__decoration {
            display: none;
        }

        &__image {
            display: none;
        }
    }

    .nav {
        display:none;

        &-contain {
            @include flexBox(row, space-between, center);
            height: 50px;

            &__logo-link {
                margin-left:30px;
                font-size: 3rem;
                position: static;
            }

            &__hamburger {
                margin-right: 30px;
                display: inline-block;
            }
        }
    }

    .blog-preview-section--half,
    .blog-preview-section__quarter {
        @include flexBox(column, center, center);
        text-align: center;
    }

    .blog-preview-section {
        height:1000px;

        &__img--top {
            box-shadow: none;
            margin-top:30px;
        }

        &__img--bottom {
            display: none;
         }
    }

    .journey-section {
        &__wrapper {
            @include flexBox(column,center,center);

            &--inner {
                margin-top:30px;
            }
        }
        &__img {
            box-shadow: 20px -20px $main-dark;
        }
    }

    .section__wrapper--secondary-page {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .who-section {
        height:auto;
    }

    .gallery-section {

        &__img {
            width:100%;
            max-width: 100%;
        }

        &__img--gone-last {
            display: none;
        }
    }
}
    