// Nav styles

.nav {
    padding: 0;
    margin: 0;
    
    &__list {
        @extend .nav;
        list-style-type: none;
        @include flexBox();
    }

    &__item {
        @extend .nav;
        margin: 0 30px;

        &--margin-right{
            margin-right: 20%;
        }

        &--margin-left {
            margin-left: 20%;
        }
    }
    
    &__link {
        @extend .nav;
        text-decoration: none;
        padding: 12px;
        font-size: 20px;
        line-height: 29px;

        &--current-page {
            color: $light-color;
         }

        &:hover {
            color: $light-color;
            text-decoration: underline;
        }
    }
}

.nav-contain {
    @include flexBox();
    position: sticky;
    top:0;
    left: 0;
    height: 75px;
    width: 100%;

    &__logo-link {
        font-size: 40px;
        position: absolute;
        top:16px;
        left: auto;
        right: auto;
    }
}


