// Who's Harper? Section styles

.who-section {
    background: $light-color;
    height: 55vh;
    @include flexBox();

    &__wrapper {
        @include flexBox(row, flex-end, center);

        &--inner {
            width:50%;
            @include flexBox(column, space-between, flex-start);
        }
    }
}   