article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

body {
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

.section__wrapper {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .section__wrapper--secondary-page {
    width: 80vw;
    padding: 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }

.aside__section {
  background: white; }

.header,
.nav-contain {
  background: #b9dde7; }

.main--blog,
.main--contact,
.who-section,
.journey-section,
.site-map-section {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav-contain,
.header,
.header__wrapper__title,
.mini-header__title,
.aside__email,
.button__link,
.section__h2,
.section__h3,
.section__h4 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0;
  margin: 0; }

.button {
  background: #f38d8d;
  border: none;
  padding: 10px 30px;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s; }
  .button:hover {
    background: #f5a4a4; }
  .button--form {
    margin-top: 30px; }

.footer {
  background: #171717;
  text-align: center;
  color: #f6f6f6; }

.header {
  height: calc(100vh - 75px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__wrapper {
    width: 80vw;
    position: relative; }
    .header__wrapper__decoration {
      width: 17rem;
      position: absolute;
      top: 32%;
      right: 35px;
      z-index: 5; }
    .header__wrapper__title {
      position: absolute;
      top: 40%;
      right: 75px;
      z-index: 5;
      font-family: "Oswald", sans-serif;
      font-size: 15rem;
      line-height: 15rem;
      color: #171717;
      text-transform: uppercase; }
  .header__image {
    width: 450px;
    min-width: 450px;
    -webkit-box-shadow: 20px 20px white;
    box-shadow: 20px 20px white;
    position: relative;
    top: 8.7vh;
    z-index: 1; }

.nav, .nav__list, .nav__item, .nav__link {
  padding: 0;
  margin: 0; }
  .nav__list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__item {
    margin: 0 3rem; }
    .nav__item--margin-right {
      margin-right: 20%; }
    .nav__item--margin-left {
      margin-left: 20%; }
  .nav__link {
    text-decoration: none;
    padding: 1.2rem;
    font-size: 2rem;
    line-height: 2.9rem;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s; }
    .nav__link--current-page {
      color: #f6f6f6;
      text-decoration: underline; }
    .nav__link:hover {
      color: #f2f9fb; }
  .nav-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    z-index: 100; }
    .nav-contain__hamburger {
      display: none;
      -webkit-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s; }
      .nav-contain__hamburger:hover {
        color: white; }
    .nav-contain__logo-link {
      -webkit-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s;
      position: absolute;
      font-size: 4rem;
      top: 1.6rem;
      left: auto;
      right: auto; }
      .nav-contain__logo-link:hover {
        color: white; }

.who-section {
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .who-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .who-section__wrapper--inner {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }

.site-map-section {
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .site-map-section__icon-background {
    background: #b9dde7;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .site-map-section__para {
    margin-left: 65px; }
  .site-map-section__wrapper {
    width: 90vw;
    margin: 110px auto 150px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .site-map-section__quarter {
    width: 45%;
    min-width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.blog-preview-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .blog-preview-section__wrapper {
    width: 80vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .blog-preview-section--half {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .blog-preview-section--half--top {
      margin-bottom: 20px;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
  .blog-preview-section__img {
    max-width: 550px;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .blog-preview-section__img--top {
      position: relative;
      left: 0;
      top: -50px;
      -webkit-box-shadow: 20px 20px #68b0c1, -150px 20px #68b0c1;
      box-shadow: 20px 20px #68b0c1, -150px 20px #68b0c1; }
    .blog-preview-section__img--bottom {
      position: relative;
      right: 0;
      bottom: -25px;
      -webkit-box-shadow: 20px 20px #b9dde7, 150px 20px #b9dde7;
      box-shadow: 20px 20px #b9dde7, 150px 20px #b9dde7; }
  .blog-preview-section__quarter {
    height: 100%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    min-width: 400px; }
    .blog-preview-section__quarter--top {
      position: relative;
      top: -30px; }
    .blog-preview-section__quarter--bottom {
      position: relative;
      top: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      text-align: right; }

.journey-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .journey-section__img {
    -webkit-box-shadow: 20px 20px #227284;
    box-shadow: 20px 20px #227284;
    max-width: 280px; }
  .journey-section__wrapper {
    width: 90vw;
    margin: 110px auto 100px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap; }
    .journey-section__wrapper--inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
      -ms-flex-line-pack: start;
      align-content: flex-start; }

.gallery-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .gallery-section__img {
    margin: 100px 20px;
    max-width: calc(30% - 30px); }

.mini-header {
  position: relative;
  height: 62.5vh; }
  .mini-header__img {
    height: 100%;
    display: block; }
  .mini-header__title {
    font-size: 80px;
    line-height: 92px;
    position: absolute;
    bottom: -40px;
    left: 150px; }
  .mini-header--home {
    background-image: url("/assets/home-image-2.jpg");
    background-position: center;
    background-size: cover; }
  .mini-header--blog {
    background-image: url("/assets/blog-image-1.jpg");
    background-position: center;
    background-size: cover; }
  .mini-header--contact {
    background-image: url("/assets/contact-image-1.jpg");
    background-position: center;
    background-size: cover; }

.aside {
  margin-right: 35px;
  font-size: 2.0rem; }
  .aside__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 30px; }
  .aside__item--social {
    color: #227284;
    margin: 0; }
  .aside__link {
    font-size: 3rem;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s; }
    .aside__link:hover {
      color: #68b0c1; }
  .aside__email {
    text-transform: none;
    font-size: 2.5rem;
    margin: 20px 0; }
    .aside__email:hover {
      text-decoration: underline; }
  .aside__address {
    display: block; }
  .aside__section {
    margin-bottom: 30px;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }

.blog-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .form__input {
    padding: 25px;
    border: none;
    width: calc(50% - 7.5px); }
    .form__input::-webkit-input-placeholder {
      color: #171717;
      opacity: 1;
      font-size: 16px; }
    .form__input:-ms-input-placeholder {
      color: #171717;
      opacity: 1;
      font-size: 16px; }
    .form__input::-ms-input-placeholder {
      color: #171717;
      opacity: 1;
      font-size: 16px; }
    .form__input::placeholder {
      color: #171717;
      opacity: 1;
      font-size: 16px; }
    .form__input-last {
      margin-left: 15px; }
    .form__input--text-area {
      width: 100%;
      margin-top: 20px; }
  .form__group-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.section__h4 {
  font-size: 3rem; }

.section__blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2; }

.section__post {
  background: white;
  margin-bottom: 30px;
  border-bottom: 5px solid #f38d8d; }
  .section__post-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 30px; }
    .section__post-wrapper--with-image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .section__post-wrapper__text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }

@media only screen and (max-width: 1230px) {
  .header__wrapper__title {
    color: white;
    top: 70%;
    right: 75px; }
  .header__wrapper__decoration {
    top: 62%;
    right: 35px; }
  .header__image {
    top: 3vh;
    -webkit-box-shadow: 20px 20px #227284;
    box-shadow: 20px 20px #227284; }
  .blog-preview-section__wrapper {
    width: 95vw; }
  .who-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .who-section__wrapper--inner {
      width: 90vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

@media only screen and (max-width: 1000px) {
  .blog-preview-section--half {
    -ms-flex-preferred-size: 55%;
    flex-basis: 55%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .blog-preview-section--half--top {
      background: #b9dde7; }
  .blog-preview-section__img {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%; }
    .blog-preview-section__img--top {
      margin-right: 30px;
      -webkit-box-shadow: -20px 20px #68b0c1, -150px 20px #68b0c1;
      box-shadow: -20px 20px #68b0c1, -150px 20px #68b0c1; }
    .blog-preview-section__img--bottom {
      margin-left: 30px;
      -webkit-box-shadow: 20px 20px #227284, 150px 20px #227284;
      box-shadow: 20px 20px #227284, 150px 20px #227284; }
  .form__input {
    width: 100%;
    margin: 0 0 20px 0;
    border-bottom: 5px solid #f38d8d; }
  .form__group-inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .button--form {
    margin: 0; }
  .mini-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .mini-header__title {
      position: static; } }

@media only screen and (max-width: 975px) {
  .journey-section__img {
    -webkit-box-shadow: -20px 20px #227284;
    box-shadow: -20px 20px #227284; }
  .gallery-section__wrapper {
    width: 100vw; }
  .gallery-section__img {
    margin: 0;
    width: 50%;
    max-width: 50%; }
  .gallery-section__img--gone-first {
    display: none; } }

@media only screen and (max-width: 760px) {
  .header {
    background-image: url("/assets/home-image-1.jpg");
    background-position: center;
    background-size: cover; }
    .header__wrapper__title {
      font-size: 7rem;
      text-align: center;
      position: static; }
    .header__wrapper__decoration {
      display: none; }
    .header__image {
      display: none; }
  .nav, .nav__list, .nav__item, .nav__link {
    display: none; }
    .nav-contain {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 50px; }
      .nav-contain__logo-link {
        margin-left: 30px;
        font-size: 3rem;
        position: static; }
      .nav-contain__hamburger {
        margin-right: 30px;
        display: inline-block; }
  .blog-preview-section--half,
  .blog-preview-section__quarter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .blog-preview-section {
    height: 1000px; }
    .blog-preview-section__img--top {
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-top: 30px; }
    .blog-preview-section__img--bottom {
      display: none; }
  .journey-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .journey-section__wrapper--inner {
      margin-top: 30px; }
  .journey-section__img {
    -webkit-box-shadow: 20px -20px #227284;
    box-shadow: 20px -20px #227284; }
  .section__wrapper--secondary-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media only screen and (max-width: 500px) {
  .who-section {
    height: auto; }
  .gallery-section__img {
    width: 100%;
    max-width: 100%; }
  .gallery-section__img--gone-last {
    display: none; } }
