article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Cabin", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

.header, .nav-contain {
  background: #b9dde7; }

.nav-contain,
.header,
.header__title-box__title,
.mini-header__title .button,
.section__h2,
.section__h3,
.section__h4 {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0; }

.button {
  background: #f38d8d;
  border: none; }

.header {
  height: calc(100vh - 75px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header__title-box {
    position: relative;
    width: 38%;
    line-height: 12rem;
    margin: 0 0 0 6.8vw; }
    .header__title-box__title {
      font-family: "Oswald", sans-serif;
      font-size: 12rem;
      color: #171717;
      text-transform: uppercase; }
    .header__title-box__decoration {
      position: absolute;
      width: 30%;
      top: -5.6rem;
      right: 8.3rem; }
  .header__image {
    width: 31.25vw;
    max-width: 500px;
    -webkit-box-shadow: 20px 20px white;
    box-shadow: 20px 20px white;
    position: relative;
    top: 8.7vh; }

.nav, .nav__list, .nav__item, .nav__link {
  padding: 0;
  margin: 0; }
  .nav__list {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .nav__item {
    margin: 0 3rem; }
    .nav__item--margin-right {
      margin-right: 20%; }
    .nav__item--margin-left {
      margin-left: 20%; }
  .nav__link {
    text-decoration: none;
    padding: 1.2rem;
    font-size: 2rem;
    line-height: 2.9rem; }
    .nav__link--current-page {
      color: #f6f6f6; }
    .nav__link:hover {
      color: #f6f6f6;
      text-decoration: underline; }

.nav-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  z-index: 100; }
  .nav-contain__logo-link {
    font-size: 4rem;
    position: absolute;
    top: 1.6rem;
    left: auto;
    right: auto; }

.section--who {
  background: #f6f6f6; }
